h1, h2, h3, h4, h5,p,span {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.auth-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

.auth-window__input {
  outline: none;
  border: none;
  background-color: #ECECEC;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.15;
  padding: 5px;
}

.auth-window__button {
  border: none;
  outline: none;
  background-color: #2D9BF0;
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: 0 0 5px #2D9BF0;
  cursor: pointer;
  color: #ECECEC;
  transition: .3s;
}

.auth-window__button:active {
  background-color: #278cd7;
}

.auth-window__title {
  color: #808080;
  font-size: 24px;
  line-height: 1.15;
}

#chat-window {
  border: 1px solid #cfcfcf;
  margin-top: 10%;
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: row;
}
.chat-window__menu {
  border-right: 1px solid #cfcfcf;
  background-color: #f3f3f3;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
}
.chat-window__chat {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0;
}

.chat-window__control {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.chat-window__chat-input {
  width: 700px;
  outline: none;
  border: none;
  font-size: 24px;
  padding: 5px;
  border-bottom: 2px solid  #278cd7;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
}
.button {
  width: 90px;
  background-color: red;
  margin-left: 15px;
  text-align: left;
}

.wrapper {
  margin: auto;
  height: 90%;
  width: 100%;
  overflow: auto;
}

.chat-window__person-image {
  width: 80px;
  height: 80px;
  border-radius: 50rem;
  background-image: url("https://sun9-13.userapi.com/impg/M46rHAzArawxwV-1-Uf_-QSAvt9xowJY5pYkVg/MS22dD6MrUI.jpg?size=564x848&quality=96&sign=388f01504855d1d964bf0d3e1b116c9f&type=album");
  background-size: cover;
  margin: auto;
  box-shadow: 0 0 5px gray;
}

.chat-window__person-name {
  font-size: 22px;
  color: black;
  font-weight: normal;
  margin: 0;
}

.chat-window__person {
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.chat-window__button {
  border-bottom: 1px solid #cfcfcf;
  cursor: pointer;
  transition: .3s;
}

.chat-window__button-title {
  font-size: 22px;
  padding: 10px;
  margin: 0;
  color: #72C5A2;
}

.chat-window__button:hover {
  background-color: #eccd7f;
}

.chat-window__message {
  border: 1px solid #cfcfcf;
  background-color: #f3f3f3;
  max-width: 300px;
  margin-top: 15px;
  padding: 7px;
  box-sizing: border-box;
  margin-left: 5px;
  position: relative;
}
.chat-window__message-title {
  text-align: left;
  font-size: 21px;
  line-height: 1.115;
}

.chat-window__message-user {
  text-align: right;
  font-size: 15px;
  line-height: 1.115;
  color: #2c3e50;
  font-weight: bold;
}

.chat-window__users {
  width: 300px;
  border-left: 1px solid #cfcfcf;
  background-color: #f3f3f3;
}

.chat-window__message-time {
  position: absolute;
  top: 0;
  right: 10px;
  color: #cfcfcf;
}

.auth-window__button_space_left {
  margin-left: 15px;
}

.auth-window__button_radius_none {
  border-radius: 0;
}

.chat-window__add-room {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid #cfcfcf;
}

.chat-window__add {
  width: 150px;
  border: 1px solid #cfcfcf;
}

.chat-window__add-room-button {
  outline: none;
  border: 1px solid #cfcfcf;
  margin-left: 5px;
  cursor: pointer;
  transition: .3s;
}

.chat-window__add-room-button:hover {
  background-color: white;
}

.chat-window__subtitle {
  color: #bababa;
  font-size: 18px;
}

.chat-window__add-room-button:active {
  background-color: #bebebe;
}

.auth-window__button:disabled {
  background-color: #cfcfcf;
  box-shadow: 0 0 5px #cfcfcf;
}

.chat-window__users-list {
  padding-left: 0;
}

.chat-window__user-tall {
  margin: 5px auto;
  padding: 5px;
  color: #2c3e50;;
  list-style: none;
  background-color: #ffffff;
  font-size: 24px;
  box-shadow: 0 0 2px #cfcfcf;
  max-width: 200px;
}

.alert-chat__title {
  font-size: 36px;
  font-weight: normal;
  margin: auto;
}